#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1, auto);
    gap: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
  
}
#container>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}
img{
    width: 350px;
    height: 600px;
}
.card{
    display: flex;
    justify-content: space-between;
}
.sort1{
    display: flex;
}
#sort{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
}
#filter{
width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
}
#sorting{
display: flex;
justify-content: space-between;
margin: 15px;
}